.what-the-users-say {
  height: 100%;
  width: 100%;
  margin: 0 150px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 70px;
  /*background: red;*/
}

.what-the-users-say-item {
  /*background: green;*/
  text-align: left;
}

.heading {
  padding-top: 50px;
  grid-column-start: 1;
  grid-column-end: 5;
  align-self: flex-start;
  margin-bottom: 100px;

}
.heading h1 {
  line-height: 1;
  margin: 0;
}

.star {
  height: 10px;
  width: auto;
  margin-right: 5px;
}
