@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
.horse-carousel {
  position: relative;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-section {
  text-align: center;
}

.bg{
  width: 100%;
  height: 100%;
}

.bgc{
  width: 100%;
  height: 100%;
}

.slider-overlay {
  width: 100%; 
  height: 100%;
  position: absolute; 
  top: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-left {
  font-size: 70px;
  padding-left: 10px;
}

.phone {
  padding-top: 87px;
  padding-left: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone img {
  width: 250.4px;
  height: 504.6px;
  padding-bottom: 25px;
}

.download {
  width: 193px;
  height: 59.4px;
  border: solid 5px #000000;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.button-right {
  padding-right: 10px;
  font-size: 70px;
}
