
@import "./fonts.css";
@import "./typography.css";
@import "./helper-classes.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {margin: 0; height: 100%; overflow: hidden}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
.horse-carousel {
  position: relative;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-section {
  text-align: center;
  position: relative;
}

.bg{
  width: 100%;
  height: 100%;
}

.bgc{
  width: 100%;
  height: 100%;
}

/*SECTIONS*/
.what-they-say-1-section {
  position: relative;
}
.what-they-say-1-section::before {
  content: "";
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 40%, 100% 120%, 0 80%);
  background: #50A6A3;
}

.hire-section::before {
  content: "";
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: polygon(0 40%, 100% 0, 100% 80%, 0 120%);
  background: #EB6D4B;
}
.hire-section::after {
  content: "";
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: polygon(100% 0, 50% 0, 100% 20%);
  background: #4CA7A4;
}
.faq-section {
  background-image: url(../images/bildFAQ.png);
  background-size: cover;
}
.faq-section::after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  position: absolute;
  z-index: 0;
  transform: skewY(10deg);
  transform-origin: 0;
  display: block;
}

.slider-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-left {
  font-size: 70px;
  padding-left: 10px;
}

.phone-column {
  position: absolute;
  right: 160px;
  flex-direction: column;
  align-items: center;
}

.phone {
  width: 18vw;
  height: 32vw;
  position: relative;
  margin-bottom: 30px;
}

.test {
  padding-bottom: 200px;
}

.button-right {
  padding-right: 10px;
  font-size: 70px;

}

.iframe-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 3550;
  border-radius: 90px;
  overflow:hidden;
  width: 100%;
  height: 100%;
}

iframe {
  width: 84%;
  height: 100%;
}

.phone-background {
  background: url('../images/phone.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3600;
  clip-path: polygon(0% 0%, 0% 100%, 9% 100%, 9% 9%, 91% 9%, 91% 91%, 3% 91%, 3% 100%, 100% 100%, 100% 0%);
}
