.content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .content:before {
    content: '';
    position: absolute;
    background: rgba(237,108,68, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
  }


  .hold{
    position: absolute;
    margin: 0 auto;
    margin-top: 230px;
    margin-left: 102px;
    width: 100%;
    text-align: left;
    z-index: 3500;
  }

  .caption{
      color: white;
      /* text-shadow: 2px 2px rgba(0,0,0, 0.5); */
      font-size: 80px;
      line-height: 130px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      max-width: 1030px;
  }

  .corner-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px; 
      height: 100px;
      z-index: 6000;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .text-corner-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 160px;
    transform: rotate(-45deg);
  }

  .arrow-down {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: -200px;
  }

  .margin{
    position: absolute;
   width: 50%;
  }

  .logo {
    width: 94px;
    height: 106px;
  }
  
